$bg-color-dark: linear-gradient(180deg, #272e49 0%, #171c2c 100%);
$font-color: rgba(255, 255, 255, 0.75);
$main-color: #1ebdaf;
//background:linear-gradient(-50deg, rgba(255, 255, 255, 0.02), rgba(30, 189, 175, 0.6),);
