$bg-color-dark:  linear-gradient(-180deg, rgb(23, 40, 59), rgb(8, 16, 25));
$font-color: #a8afbf;
$main-color: #1ebdaf;
//background:linear-gradient(-50deg, rgba(255, 255, 255, 0.02), rgba(30, 189, 175, 0.6),);
